.job__details__div {
  margin: 2% 5%;
  background-color: #272727;
  padding: 20px;
  border-radius: 5px;
}

.similarJob__h1 {
  margin: 1% 5%;
}
.silimar__jobs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (min-width: 668px) and (max-width: 1020px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 668px) {
    grid-template-columns: repeat(1, 1fr);
  }

  margin: 0% 4%;
}

.similar__Job__li {
  list-style-type: none;
  background-color: #272727;
  border-radius: 4px;
  margin: 2% 5%;
  padding: 10px;
}
