.navBar__div {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  padding: 0% 3%;
  color: white;
}

.logo__div {
  align-self: center;
}

.image__navBar {
  height: 30px;
  width: 70px;
}

.center__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.anchor__elm{
  margin-right: 10%;
  font-size: 18px;
  text-decoration: none;

}
.home__para {
  align-self: center;
  color: white;
  padding: 10px;
}

.logout {
  background-color: #4f46e5;
  align-self: center;
  padding: 5px 20px;
  border-style: none;
  border-radius: 3px;
  color: white;
}

li {
  list-style-type: none;
  align-self: center;
}
